<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>Title</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; } </style>

</head>

<body class="main-page">
<!-- Добавляем в git -->

	<header id="main-header">
		<!-- Десктопное меню-->
    <div class="container" >
      <div class="row top-nav">
        <div class="col-lg-2">
        	<!-- Логотип -->
          <div class="logo">
            <a href="">
              <img src="img/pollux.png"  alt="alt">
            </a>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <!-- Главное Меню -->
        <div class="col-lg-9">
          <nav class="main-navigation hidden-xs">
            <ul>
            	<li><a href="#">Home</a></li>
            	<li><a href="about.html">About me</a></li>
            	<li><a href="books.html">My books</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="text__top">
      	<h1>I'm a hybrid</h1>
      	<h2><span>I run on books and tea</span></h2>
      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, nobis sapiente. Iste voluptates, earum optio! </p>
      	<a href="" class="text__top-button">See my stories</a>
      </div>
    </div>
  </header>
	
	<main>
		<section class="violet-privelege">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="text-privelege">
							<h4 class="heading">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
							<p>Phasellus congue sagittis congue. Aenean porttitor efficitur mi, eget sollicitudin orci ultrices vitae. Morbi ac justo sed ipsum pulvinar vestibulum ut et leo. Vivamus accumsan lectus sapien, venenatis accumsan velit pulvinar a. Pellentesque sit amet ipsum id velit rhoncus vehicula!</p>
						</div>
						<div class="col-lg-4">
							<article>
								<i class="fa fa-pencil" aria-hidden="true"></i>
								<h3>Exclusive Service</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ut architecto est optio, !</p>
							</article>
						</div>
						<div class="col-lg-4">
							<article>
								<i class="fa fa-user" aria-hidden="true"></i>
								<h3>Customer friendly</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id libero ratione quis odit atque .</p>
							</article>
						</div>
						<div class="col-lg-4">
							<article>
								<i class="fa fa-book" aria-hidden="true"></i>
								<h3>Reasonable pricing</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, necessitatibus mollitia. .</p>
							</article>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="description">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="text-description">
							<span>dolore magna aliqua.</span>
							<h3>I spend more time watching my stories in my head than writing them.</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, quia incidunt repellat laudantium provident eum odio assumenda repudiandae. Iusto cupiditate molestias temporibus saepe a nihil repellendus beatae, vitae sit modi.</p>
							<ul>
								<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </li>
								<li>Quis nostrud exercitation ullamco.</li>
								<li>Enim ad minim veniam, quis nostrud exercitation ullamco.</li>
							</ul>
						</div>
					</div>
				
					<div class="col-lg-6">
						<div class="foto-description">
							<div class="foto"></div>
						</div>
					</div>	
				</div>
			</div>	
		</section>

		<section class="features">
			<div class="items-features">
				<ul>
					<li><i class="sprite-dudinskiy sprite-dudinskiy-client-01"></i></li>
					<li><i class="sprite-dudinskiy sprite-dudinskiy-client-02"></i></li>
					<li><i class="sprite-dudinskiy sprite-dudinskiy-client-03"></i></li>
					<li><i class="sprite-dudinskiy sprite-dudinskiy-client-04"></i></li>
					<li><i class="sprite-dudinskiy sprite-dudinskiy-client-05"></i></li>
					<li><i class="sprite-dudinskiy sprite-dudinskiy-client-06"></i></li>
				</ul>
			</div>
		</section>

		<section class="summary">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="vid-fearures">
							<div><iframe src="https://player.vimeo.com/video/112657502" width="580" height="325" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									<p><a href="https://vimeo.com/112657502">Author</a> from <a href="https://vimeo.com/user19894433">Christlyn McAllister</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
							</div>
						</div>
					</div>
						
					<div class="col-lg-6">
						<div class="text-summary">
							<span>dolore magna aliqua.</span>
							<h3>Check this video to find out <br> more about me and my lifestyle</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
							<a href="" class="white-text__button">See my stories</a>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>

	<footer>
		<!-- Футерное меню-->
    <div class="container">
        <div class="row foot-nav">
          <div class="col-lg-2">
          	<!-- Логотип -->
            <div class="logo">
              <a href="">
                <img src="img/pollux.png"  alt="alt">
              </a>
            </div>
          </div>
          <!-- made by -->
          <div class="col-lg-8">
          	<div class="foot-text">
            	<p>Made with Jupiter with love. Artbees Themes 2017</p>
            </div>
          </div>
          <!-- Соц кнопки -->
          <div class="col-lg-2">
          	<div class="foot-social">
	          	<ul>
	          		<li><i class="fa fa-facebook" aria-hidden="true"></i></li>
	          		<li><i class="fa fa-twitter" aria-hidden="true"></i></li>
	          	</ul>
	          </div>
          </div>
        </div>
	</footer>



	<link rel="stylesheet" href="css/main.min.css">
	<script src="js/scripts.min.js"></script>

</body>
</html>
